* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #312e2b;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
}

h1 {
    margin-bottom: 20px;
}

#gameboard {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.square {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Chess.com default colors */
.beige {
    background-color: #f0d9b5;   /* light square */
}

.brown {
    background-color: #b58863;   /* dark square */
}

/* Bigger clean pieces */
.square svg {
    width: 42px;
    height: 42px;
}

.piece {
    cursor: grab;
}

.piece:active {
    cursor: grabbing;
}

.black {
    fill: black;
}

.white {
    fill: white;
}
h1 {
    display: none;
}
