name: Deploy Static Site to Azure Web App - chessjs

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_DF11502AB89C4EEDB00463455A88A38D }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_8068A7DE59C54004842907F8B1FE46AF }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_62BC0F4A738D4CA099A1CF8B04E3CAA0 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'chessjs'
          slot-name: 'Production'
          package: .
